<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>G2 Page</title>
  <!-- External CSS Goes Here -->
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div id="wrapper">
    <!-- Header goes here -->
    <%-include('layouts/header')-%>
      <!-- Navigation goes here -->
      <%-include('layouts/navbar')-%>

        <!-- Main Content Goes Here -->
        <main>
          <!-- Banner Image -->
          <section id="banner">
            <img src="assets/img/G2_Page.jpg" alt="banner" id="g2_image" class="general_image">
          </section>

          <!-- Display Result to the driver -->
          <%if(getUserG2.testResult && getUserG2.testType == "G2"){%>
            <%if(getUserG2.testResult == "PASS"){%>
              <h4 class="testResultPass">Congratulation ! you have passed G2 test</h4>
            <%}%>
            <%if(getUserG2.testResult == "Faile"){%>
              <h4 class="testResultFail"><%=getUserG2.testResult%></h4>
            <%}%>
            <!-- Display Comment given by the examiner to the driver -->
            <%if(getUserG2.examinerComment){%>
              <div class="examinerComment">
                <h4>Examiner comment:</h4><span><%=getUserG2.examinerComment%></span>
              </div>
            <%}%>
          <% } else { %>    

          <!-- G2 Form -->
          <form action="/store" method="POST" name="myForm" enctype="multipart/form-data" id="g2_form">
        
            <div class="container">
              <!-- Appointment Details -->   
              <h3 class="g2_form_heading">Select date & time to book your appointment</h3>

              <%if(userSelectedDate){%>
                <label for="userSelectedDate"><b>Please select date:</b></label>
                <input type="date" id="userSelectedDate" name="userSelectedDate" value="<%=userSelectedDate%>" required>
              <%}else{%>
                <label for="userSelectedDate"><b>Please select date:</b></label>
                <input type="date" id="userSelectedDate" name="userSelectedDate" required>
              <%}%>
              
                <!-- Data will be populated from the database using for loop -->
                <!-- <option value="9:00AM">9:00AM</option> -->
                 <%if(noTimeSlots){%>
                    <h4 id="noTimeSlots">Timeslots are not available</h4>
                    <script>
                      document.addEventListener('DOMContentLoaded',()=>{
                        uData1 = JSON.parse(sessionStorage.getItem('userData'));

                          document.getElementById('fname').value = uData1.fName;
                          document.getElementById('lname').value = uData1.lName;
                          document.getElementById('dob').value = uData1.Dob;
                          document.getElementById('house_no').value = uData1.houseNo;
                          document.getElementById('street_name').value = uData1.streetName;
                          document.getElementById('city').value = uData1.City;
                          document.getElementById('province').value = uData1.Province;
                          document.getElementById('postal').value = uData1.Postal;

                          // Car details
                          document.getElementById('make').value = uData1.Make;
                          document.getElementById('model').value = uData1.Model;
                          document.getElementById('year').value = uData1.Year;
                          document.getElementById('plate_num').value = uData1.PlateNum;
                          document.getElementById('license_no').value = uData1.LicenseNo;

                          // Set focus on error message
                          document.getElementById('userSelectedDate').focus();
                      });
                      
                    </script>
                 <%}%>

                 <%if(timeSlots){%>
                    <%if(timeSlots.length==0){%>
                      <h4 id="noTimeSlots">Timeslot is already booked</h4>
                      <script>
                        document.addEventListener('DOMContentLoaded',()=>{
                        
                          uData2 = JSON.parse(sessionStorage.getItem('userData'));
                          document.getElementById('fname').value = uData2.fName;
                          document.getElementById('lname').value = uData2.lName;
                          document.getElementById('dob').value = uData2.Dob;
                          document.getElementById('house_no').value = uData2.houseNo;
                          document.getElementById('street_name').value = uData2.streetName;
                          document.getElementById('city').value = uData2.City;
                          document.getElementById('province').value = uData2.Province;
                          document.getElementById('postal').value = uData2.Postal;

                          // Car details
                          document.getElementById('make').value = uData2.Make;
                          document.getElementById('model').value = uData2.Model;
                          document.getElementById('year').value = uData2.Year;
                          document.getElementById('plate_num').value = uData2.PlateNum;
                          document.getElementById('license_no').value = uData2.LicenseNo;
                          // Set focus on TimeSlots
                          document.getElementById('userSelectedDate').focus();
                        });
                      </script>
                    <%}else {%>
                          <script>
                            document.addEventListener('DOMContentLoaded',()=>{
                              if(document.getElementById("noTimeSlots")){
                                document.getElementById("noTimeSlots").style.display = "none";
                              }
                              uData3 = JSON.parse(sessionStorage.getItem('userData'));
                              document.getElementById('fname').value = uData3.fName;
                              document.getElementById('lname').value = uData3.lName;
                              document.getElementById('dob').value = uData3.Dob;
                              document.getElementById('house_no').value = uData3.houseNo;
                              document.getElementById('street_name').value = uData3.streetName;
                              document.getElementById('city').value = uData3.City;
                              document.getElementById('province').value = uData3.Province;
                              document.getElementById('postal').value = uData3.Postal;

                              // Car details
                              document.getElementById('make').value = uData3.Make;
                              document.getElementById('model').value = uData3.Model;
                              document.getElementById('year').value = uData3.Year;
                              document.getElementById('plate_num').value = uData3.PlateNum;
                              document.getElementById('license_no').value = uData3.LicenseNo;
                              // Set focus on TimeSlots
                              document.getElementById('userSelectedDate').focus();
                            });
                          </script>
                          <label for="userSelectedTime">Please select time: </label>
                          <select id="userSelectedTime" name="userSelectedTime">
                            <%for(let i=0;i<timeSlots.length;i++){%>
                              <option value="<%=timeSlots[i]%>"><%=timeSlots[i]%></option>
                            <%}%>
                          </select>
                    <%}%>
                  <%}%>
            </div>
              <h3 class="g2_form_heading">Enter your personal details</h3>
              <!-- Fetching user's details from database -->
                <!-- G2 Form Data -->
                  <!-- First Name -->
                  <label for="fname"><b>Firstname</b></label>
                  <input type="text" placeholder="Enter first name" name="fname" id="fname" 
                  <% if(getUserG2 !== undefined) { %>
                    value="<%=getUserG2.FirstName %>">
                  <% } %>
                  <!-- Last Name -->
                  <label for="lname"><b>Lastname</b></label>
                  <input type="text" placeholder="Enter last name" name="lname" id="lname" 
                  <% if(getUserG2 !== undefined) { %>
                    value="<%=getUserG2.LastName %>">
                  <% } %>

                  <!-- DOB -->
                  <label for="dob"><b>Date of Birth</b></label>
                  <input type="date" name="dob" placeholder="Enter your Date of Birth" id="dob"
                  <% if(getUserG2 !== undefined) { %>
                    value="<%=getUserG2.DOB %>">
                  <% } %>

                  <!-- Address details -->
                  <!-- House Number -->
                  <lable for="house_no"><b>House No</b></lable>
                  <input type="number" name="house_no" id="house_no" placeholder="Enter house no"
                  <% if(getUserG2 !== undefined) { %>
                    value="<%=getUserG2.HouseNumber %>">
                  <% } %>

                  <!-- Street name -->
                  <lable for="street_name"><b>Street name</b></lable>
                  <input type="text" name="street_name" id="street_name" placeholder="Enter street name"  <% if(getUserG2 !== undefined) { %>
                    value="<%=getUserG2.StreetName %>">
                  <% } %>

                  <!-- City -->
                  <lable for="city"><b>City</b></lable>
                  <input type="text" name="city" id="city" placeholder="Enter city" 
                  <% if(getUserG2 !== undefined) { %>
                    value="<%=getUserG2.City %>">
                  <% } %>

                  <!-- Province -->
                  <lable for="province"><b>Select your Province/State</b></lable>
                  <select name="province" id="province">
                    <% if(getUserG2 !== undefined) { %>
                      <option value="<%=getUserG2.Province %>" selected><%=getUserG2.Province %></option>
                    <% } %>
                    <option value="Ontario" selected>Ontario</option>
                    <option value="Alberta">Alberta</option>
                    <option value="British Columbia">British Columbia</option>
                    <option value="Manitoba">Manitoba</option>
                    <option value="Nova Scotia">Nova Scotia</option>
                    <option value="Saskatchewan">Saskatchewan</option>
                  </select>

                  <!-- Postal Code -->
                  <lable for="postal"><b>Postal Codes</b></lable>
                  <input type="text" name="postal" id="postal" placeholder="Enter postal code"
                  <% if(getUserG2 !== undefined) { %>
                    value="<%=getUserG2.Postal%>">
                  <% } %>

                  <!-- Car Details -->
                  <h3 class="g2_form_heading">Enter your car details</h3>

                  <!-- Make/Brand -->
                  <lable for="make"><b>Make/Brand</b></lable>
                  <input type="text" name="make" id="make" placeholder="Enter the brand of your car" 
                  <% if(getUserG2 !== undefined) { %>
                    value="<%=getUserG2.Brand%>">
                  <% } %>

                  <!-- Model -->
                  <lable for="model"><b>Model</b></lable>
                  <input type="text" name="model" id="model" placeholder="Enter the model of your car"
                  <% if(getUserG2 !== undefined) { %>
                    value="<%=getUserG2.Model%>">
                  <% } %>

                  <!-- Year -->
                  <lable for="year"><b>Year</b></lable>
                  <input type="number" name="year" id="year" placeholder="Specify year" 
                  <% if(getUserG2 !== undefined) { %>
                    value="<%=getUserG2.Year%>">
                  <% } %>

                  <!-- Plate number -->
                  <lable for="plate_num"><b>Plate number</b></lable>
                  <input type="text" name="plate_num" id="plate_num" placeholder="Enter the plate no. of your car" 
                  <% if(getUserG2 !== undefined) { %>
                    value="<%=getUserG2.PlateNumber%>">
                  <% } %>

                  <!-- User ID -->
                  <label for="license_no"><b>Driver's License No.</b></label>
                  <input type="text" placeholder="Enter license no." id="license_no" name="license_no"
                  <% if(getUserG2 !== undefined) { %>
                    value="<%=getUserG2.LicenceNumber%>">
                  <% } %>

                  <!-- Images -->
                  <label for="Image1"><b>Image-1:</b></label>
                  <input type="file" id="Image1" name="Image1">
                  <label for="Image2"><b>Image-2:</b></label>
                  <input type="file" id="Image2" name="Image2">

              
              <button type="submit" id="submit_btn_g2">Submit</button>
          </form>
          <% } %>
        </main>

        <!-- Footer goes here -->
        <%-include('layouts/footer')-%>
  </div>

  <!-- External Javascript Goes Here -->
  <%-include('layouts/javascript')-%>
</body>

</html>